In [ ]:
if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
    .
    .
    .
elif condition n :
    task n
else:
    task4 block of code

In [9]:
x=9
if x%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [13]:
x=8

In [15]:
x%2==0

True

In [17]:
x>6

True

In [19]:
x=-5.8
if x>0:
    print('pos')
elif x<0:
    print('neg')
else:
    print('zero')

neg

In [21]:
y=10

In [25]:
x=6
if x>0:
    print('pos')
    if x>10:
        print('M')
    elif x>20:
        print('p')
    elif x<10:
        print('K')
    else:
        print('T')
elif x<0:
    print('neg')
    if x<-20:
        print('Q')
    elif x>-10:
        print('C')
    elif x>-30:
        print('Z')
else:
    print('zero')

pos
K

In [31]:
x='telangana'
x='Tiger'
x='Tan'
print(x)

Tan

In [33]:
x='tiger'
if x[0]=='t' or x[0]=='T':
    print('yes')
else:
    print('no')

yes

In [35]:
if x[0].lower() in ('s','m','h'):
    print('yes')
else:
    print('no')

no

In [37]:
if x[0]=='s' or x[0]=='S' or x[0]=='m' or x[0]=='M' or x[0]=='M' or x[0]=='h':
    print('yes')
else:
    print('no')

no

In [1]:
x=3
while x<10:
    print('yes')
    x=x+1

yes
yes
yes
yes
yes
yes
yes

In [1]:
dollars = [40,20,50,30,80,90,50]
dollars

[40, 20, 50, 30, 80, 90, 50]

In [3]:
for i in dollars:
    print(i)

40
20
50
30
80
90
50

In [5]:
for i in dollars:
    print(i+1)

41
21
51
31
81
91
51

In [7]:
z = []
for i in y:
    z.append(i*5+y)

NameError: name 'y' is not defined

In [9]:
num = [31,45,66,33,90,78,67,87,93,25,59,9,81]
num

[31, 45, 66, 33, 90, 78, 67, 87, 93, 25, 59, 9, 81]

In [11]:
num = [31, 45, 66, 33, 90, 78, 67, 87, 93, 25, 59, 9, 81]

even_numbers = [n for n in num if n % 2 == 0]
odd_numbers = [n for n in num if n % 2 != 0]

even_numbers, odd_numbers

([66, 90, 78], [31, 45, 33, 67, 87, 93, 25, 59, 9, 81])

In [15]:
h = []
for i in num:
    a = str(i)
    b = a.replace('8','5')
    c = int(b)
    h.append(c)
print(h)

[31, 45, 66, 33, 90, 75, 67, 57, 93, 25, 59, 9, 51]